@model cod_data_analyzer.ViewModels.AdminViewModel
@{
    ViewData["Title"] = "Admin";
}
<div class="container-md text-light min-vh-100">
    <a asp-action="Maps" asp-controller="Admin">maps</a>

</div>